$primary: #1ABC9C;
$spacer: 2rem;
$link-decoration: none;
$font-family-sans-serif: 'Atkinson Hyperlegible', sans-serif;
$font-family-monospace: "Fira Code", monospace;
$font-size-base: 1.2rem;
$font-size-sm: $font-size-base * .8;
$font-size-lg: $font-size-base * 1.4;
$line-height-base: 2;
$h1-font-size: $font-size-base * 3.4;
$h2-font-size: $font-size-lg;
$h3-font-size: $font-size-lg;
$h4-font-size: $font-size-lg;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;
$headings-margin-bottom: $spacer;
$headings-font-weight: 600;
$headings-line-height: $line-height-base;
$headings-color: $primary;
$small-font-size: $font-size-sm;
$blockquote-margin-y: $spacer * 2;
$blockquote-font-size: $font-size-base;
$code-font-size: $font-size-base;
