@use "sass:math";

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap");

@import "variables";
@import "bootstrap";

a{
    border-bottom: 1px solid $link-color;

    &:hover{
        border-color: $link-hover-color;
    }
}

header{
    backdrop-filter: saturate(180%) blur(10px);
    background-color: rgba($body-bg, .7);

    a{
        border: 0;
    }
}

#desktopmenu{
    // text-transform: uppercase;
    // font-weight: 400;
    // font-size: $font-size-sm;

    ul.menu{
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;

        @extend .d-flex ;
        @extend .flex-row;
        @extend .justify-content-between;

        li {
            display: flex;

            a {
                display: block;
                padding: 1.4rem .8rem;
            }
        }
    }
}

#mobilemenu{
    ul.menu{
        @extend .list-unstyled;
        margin: 0;
        padding: 0;
    }
}

#desktopmenu{
    ul.menu{
        li.menu-item{
            a{
                border: 0;

                // &:hover{
                //     color: $primary;
                //     border-bottom: 3px solid $primary;
                // }
            }

            &.current-menu-item{
                a{
                    font-weight: bold;
                    color: $body-color;
                    border-color: $body-color;
                }
            }
        }
    }
}

#desktopmenu,
#mobilemenu{
    ul.menu{
        li.menu-item{
            a{
                text-decoration: none;
                border: 0;
                display: block;
            }

            &.current-menu-item{
                a{
                    font-weight: bold;
                    color: $body-color;
                    border-color: $body-color;
                }
            }
        }
    }
}

img {
    @extend .img-fluid;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1{
    margin-top: $headings-margin-bottom;
}

h1{
    font-weight: bold;
    // text-transform: uppercase;
    line-height: 1.2;
    margin-top: 0;
}

.spacerline{
    display: block;
    width: 100%;
    border-bottom: 1px dotted $border-color;
    margin-bottom: .4rem;
}

footer{
    color: $text-muted;
    font-size: $font-size-sm;

    .footer-item{
        padding: $spacer 0;

        // .footer-item-title{}

        .footer-item-content{
            ul{
                @extend .list-inline;
                margin: 0;

                > li{
                    @extend .list-inline-item;
                }
            }
        }
    }
}

hr{
    width: 20%;
}

pre{
    margin: $spacer 0;

    code{
        border: 1px solid $border-color;
        border-radius: $border-radius;
    }
}

blockquote{
    @extend .blockquote;
    font-style: italic;
    padding: 0 $spacer;
    position: relative;
    margin: $spacer;

    $d: 6px;

    &::before{
        content: '';
        position: absolute;
        width: $d;
        left: 0;
        top: 0;
        height: 100%;
        background-color: $border-color;
        border-radius: $d;
    }
}

.border-lg-end{
    @include media-breakpoint-up(lg){
        border-right: 1px solid $border-color;
    }
}

article{
    img{
        @extend .img-thumbnail;
        display: block;
        margin: auto;
    }
}

// ul.tags{
//     @extend .list-inline;
//     margin-top: $spacer;
//     > li {
//         @extend .list-inline-item;
//         > a, > span{
//             @extend .badge;
//             background-color: $dark;
//             color: $light;
//             text-decoration: none;
//             display: inline-block;
//         }
//     }
// }

#cookie{
    display: none;
    position: fixed;
    bottom: $spacer;
    left: 0;
    width: 100%;
    z-index: 1090;
    font-size: $font-size-sm;

    #cookie-wrapper{
        background: $gray-900;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        min-width: 340px;
        width: 0;
        max-width: 90%;
        padding: 1rem 0;
        margin: auto;

        #cookie-content,
        #cookie-ok{
            padding: 0 1rem;
            text-align: center;
        }

        #cookie-content{
            border-right: 1px solid $white;
        }

        #cookie-ok{
            border: 0;
            background: none;
            color: inherit;
        }
    }
}